.header {
  margin: 0;
  height: 3em;
  width: 100%;
  text-align: center;
  color: white;
  background: black;
  @media screen and (min-width: 1000px) {
    height: 8em;
  }
  h1 {
    font-size: 1.5em;
    margin: 0 auto;
  }
  h4 {
    margin: 0 auto;
  }
}
